---
import type { Book } from "../types/Book";
import Tags from "./tags.astro";
import books from '../assets/books.json';

const months: string[] = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const years: string[] = ["2021", "2022", "2023", "2024", "2025"];
let booksByYear: Book[][] = []

function getYear(date: string) {
  let dateList = date.split("/");
  return dateList[2];
}

function formatDate(date: string) {
  let dateList = date.split("/");
  let monthNum = parseInt(dateList[0]);
  return months[monthNum - 1] + " " + dateList[2];
}

function sortBooksByYear() {
  let bookArray: Book[][] = []
  years.forEach((year)=> {
    let newYear: Book[] = books.filter((book)=> {
      if (getYear(book.dateRead) === year) {
        return book;
      }
    });
    bookArray.push(newYear);
  });
  return bookArray;
}

booksByYear = sortBooksByYear();
---
    <main>
      {booksByYear.map((byear) => (
        <div>
          <h2 class="year">{getYear(byear[0].dateRead)} [{byear.length} books]</h2>
          {byear.map((book) => (
            <div class="book">
              <h2>{book.title}</h2>
              <h3>{book.authors}</h3>
              <p>Finished: {formatDate(book.dateRead)}</p>
              <Tags tags={book.tags} />
            </div>
        ))}
        </div>
      ))}
    </main>

<style>
  .year {
    text-align: center;
  }
  .book {
    background-color: white;
    padding: 10px 25px;
    border-radius: 25px;
    margin: 10px 20px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
  }
</style>
