---
import type { Book } from "../types/Book";
import Tags from "./tags.astro";

const months: string[] = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

function formatDate(date: string | undefined) {
  if (!date) {
    return "Date Error";
  }
  let dateList = date.split("/");
  let monthNum = parseInt(dateList[0]);
  return months[monthNum - 1] + " " + dateList[2];
}
const { book } = Astro.props;
---

<div class="book">
  <a href={book.moreInfo} target="_blank" class="moreinfo">
    <img
      src={book.cover}
      alt={`${book.title} - ${book.authors}`}
      class="bookCover"
    />
  </a>
  <section class="info">
    <p class="bookTitle">{book.title}</p>
    <p class="bookAuthors">{book.authors}</p>
    <p class="dateFinished">Date Finished: {formatDate(book.dateRead)}</p>
    <a href={book.moreInfo} target="_blank">
      <span class="material-symbols-outlined">open_in_new</span>
      View {book.title} on Story Graph</a>
    </a>
    <Tags tags={book.tags} />
  </section>
</div>
