---
import type { Book } from "../types/Book";
import Tags from "./tags.astro";
import books from '../assets/books.json';

const { year } = Astro.props;
const months: string[] = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

function getYear(date: string) {
  let dateList = date.split("/");
  return dateList[2];
}

function formatDate(date: string) {
  let dateList = date.split("/");
  let monthNum = parseInt(dateList[0]);
  return months[monthNum - 1] + " " + dateList[2];
}

let filteredYear = books.filter((book)=>{
    if (getYear(book.dateRead)===year){
        return book;
    }
});
---
<main>
    <h2 class="year">{year} [{filteredYear.length} books]</h2>
    {filteredYear.map((book) => (
        <div class="book">
          <h2>{book.title}</h2>
          <h3>{book.authors}</h3>
          <p>Finished: {formatDate(book.dateRead)}</p>
          <Tags tags={book.tags} />
        </div>
    ))}
</main>

<style>
    .year {
      text-align: center;
    }
    .book {
      background-color: white;
      padding: 10px 25px;
      border-radius: 25px;
      margin: 10px 20px;
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    }
  </style>